
= styles_for :task, :opportunity, :account

.title
  %span#title #{t :inspections}
%ul.list#inspections
  -#- unless @my_tasks.empty?
  -#  = render :partial => "home/task", :collection => @my_tasks.limit(10)
  -#  = show_hidden_entities_message(@my_tasks.count, 'task', 10)
  -#- else
  #{t :no_inspection_records}

.title
  %span#title #{t :recent_activity}
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
.remote#options{ hidden }

%ul.list#activities
  -#- unless @activities.empty?
  -#  = render :partial => "activity", :collection => @activities
  -#- else
  #{t :no_activity_records}

